*{
	font-family: "system-ui";
	outline: none;
}

// 設定預設 a 連結
a,a:active, a:focus, a:visited {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

// 設定預設 hr 的顏色
hr{
	border: 1px solid #efefef;
}

html,body{
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
	background: $wrapper_bg_color;
}

@import "camera";
@import "picture";
@import "modal";

.comment , .new_comment , .modal{
	display: none;
}



