// wrapper 背景 ig色
$wrapper_bg_color: linear-gradient(#4c68d7,#8a3ab9,#bc2a8d,#cd486b,#e95950,#fbad50,#fccc63);

// ig 的 icon 來源
$ig_icon_url: url(https://www.instagram.com/static/bundles/base/sprite_core.png/b32d382b99a8.png);

// camera
$camera_size: 200px;
$camera_border_size: 10px;
$camera_ball_size: 5px;

// picture
$picture_size: 250px;
$picture_border_size: 10px;
$picture_border_bottom_size: 20px;

// 小張的picture
$picture_size_xs: 120px;

// 大張的picture
$picture_size_lg: 400px;
$picture_size_lg_padding: 20px;

// 照片資料的字
$picture_info_font_size: 15px;
$picture_info_color: #262626;

// 查看更多留言的字的顏色
$more_comments_color: #003569;

// 時間的字的顏色
$time_color: #999;
$time_font_size: 10px;
$time_letter_spacing: 0.2px;

// input 的 placeholder 的顏色
$input_placeholder_color: #999;

// 發佈按鈕
$new_comment_btn_color_disable: #b4daff;
$new_comment_btn_color_enable: #3897f0;


